@import '../utils/variables';
@import '../utils/mixins';

.home-container {
    min-height: 100vh;
    height: 100vh; /*IE11*/
    @include justify-content(center);
    @include align-items(center);
}

// globe icon

.globe-icon {
    width: 250px;
    opacity: 0.8;
    position: absolute;
    top: -65px;
    right: -80px;
    z-index: -100;
    @include mediaQuery($medium) {
        width: 190px;
        top: -55px;
        right: -50px;
    }
}

// title

.title {
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    z-index: 1;
    h1 {
        @include heading($large-titleFont);
        @include mediaQuery($medium) {
            font-size: $medium-titleFont;
        }
    }
    p {
        margin: 0 0 30px 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        color: $secondaryColour;
        font-weight: $bold;
        font-size: $standardFont;
        @include mediaQuery($medium) {
            font-size: $smallFont;
        }
    }
    button {
        width: 200px;
        @include default-button(15px);
        @include hoverSupported() {
            background-color: transparent;
            transition: 0.4s;
        }
        @include mediaQuery($medium) {
            @include default-button(10px);
            width: 170px;
        }
    }
}