@import '../utils/variables';
@import '../utils/mixins';

.quiz-container {
    @include align-items(center);
    padding: 25px;
    height: 100%;
    #questionContainer {
        width: 100%; /*IE11*/
    }
}

// question 

#question {
    margin: 25px 0 0 0;
    @include mediaQuery($small) {
        margin-top: 0;
    }
    h2 {
        @include heading($large-quizFont);
        padding: 0 10px;
        text-align: center;
        @include align-self(center); /*IE11*/
        width: 100%; /*IE11*/
        @include mediaQuery($small) {
            font-size: $mediumFont;
        }
    }
    .answer-container, .flag-answer-container {
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-self(center); /*IE11*/
        max-width: 800px;
        width: 100%; /*IE11*/
        margin: auto;
    }
    .answer, .flag-answer {
        cursor: pointer;
        @include hoverSupported() {
            cursor: pointer;
            opacity: 0.65;
        }
    }
    .flag-answer {
        @include flex(1 0 47%);
        margin: 8px;
        @include mediaQuery($large) {
            @include flex(1 1 40%);   
        }
        @include mediaQuery($small) {
            @include flex(1 1 auto); /*IE11*/
        }
    }
    button {
        margin: 50px auto 0 auto;
        @include default-button(15px);
        @include align-self(center);
        @include hoverSupported() {
            background-color: transparent;
            transition: 0.4s;
        }
    }
}

// timer and question count

.timer, .question-count {
    text-align: center;
    color: $secondaryColour;
    font-weight: $bold;
    font-size: $standardFont;
    margin: 10px 0 30px 0;
}

// answers

.img-container, .answer {
    @include flexbox();
    @include justify-content(center); 
}

.answer {
    @include flex(1 0 44%);
    @include align-items(center);
    list-style: none;
    text-align: center;
    color: $mainTextColour;
    padding: 10px;
    font-weight: $bold;
    font-size: $answerFont;
    border: 6px solid $secondaryColour;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: $secondaryColour;
    margin: 8px;
    min-width: 260px;
    @include mediaQuery($small) {
        font-size: $standardFont;
        min-width: 230px;
    }
}

.img-container {
    background-color: $flagColour;
    width: 185px;
    height: 135px;
    border: 6px solid $flagColour;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    @include mediaQuery($large) {
        width: 155px;
        height: 105px;
    }
    @include mediaQuery($small) {
        width: 135px;
        height: 95px;
    }
    img {
        width: 100%;
        max-height: 100%;
    }
}