@import '../utils/variables';
@import '../utils/mixins';

.score-container {
    padding: 25px;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    h2 {
        @include heading($largeFont);
        margin-top: 25px;
        text-align: center;
        @include mediaQuery($small) {
            font-size: $mediumFont;
            margin-top: 0;
        }
    }
    p, #scoreLevel {
        font-size: $mediumFont;
        margin-bottom: 30px;
    }
    p {
        color: $secondaryColour;
        font-weight: $bold;
    }
    #scoreLevel {
        i {
            font-size: $largeFont;
            color: $secondaryColour;
            @include mediaQuery($small) {
                font-size: $mediumFont;
            }
        }
        span {
            color: $mainTextColour;
            font-weight: $bold;  
            font-size: $standardFont;
            @include mediaQuery($small) {
                font-size: $smallFont;
            }
        }
    }
    .finish-options {
        @include flexbox();
        @incldue justify-content();
        a {
            @include default-button(10px);
            margin: 20px 10px 0 10px;
            width: 145px;
            @include hoverSupported() {
                background-color: transparent;
                transition: 0.4s;
            }
            @include mediaQuery($small) {
                width: 135px;
                margin: 20px 6px 0 6px;
            }
        }
    }
}