@import '../utils/variables';
@import '../utils/mixins';

.setup-container {
    padding: 25px;
}

.setup-wrap {
    margin: 25px auto 0 auto;
    @include mediaQuery($small) {
        margin-top: 0;
    }
    h1 {
        text-align: center;
        padding: 0 15px;
        @include heading($largeFont);
        @include align-self(center);
        @include mediaQuery($small) {
            font-size: $mediumFont;
        }
    }
    
    // form 
    
    #playerSetup {
        @include align-items(center);
        p {
            font-weight: $bold;
            color: $secondaryColour;
            font-size: $standardFont;
            text-align: center;
            margin: 15px 0;
        }
        .select-difficulty div {
            @include flexbox();
            @include justify-content(center);
        }
        a {
            margin: 20px 10px;
            border: 2px solid transparent;
            font-size: $standardFont;
            padding: 5px;
            color: $secondaryColour;
            font-weight: $bold;
            &:hover {
                cursor: pointer;
            }
        }
        
        // form inputs
        
        input[type='text'] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 100%;
        }
        input[type='submit'] {
            @include default-button(10px);
            margin: auto;
            width: 189px;
            @include hoverSupported() {
                background-color: transparent;
                transition: 0.4s;
            }
        }   
    }
}