// mixins

// flexbox mixins

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

// default button mixins
@mixin default-button($padding) {
    padding: $padding;
    width: 70%;
    background-color: $mainColour;
    border: none;
    color: $mainTextColour;
    border: 2px solid $mainColour;
    border-radius: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{ 
        background-color: transparent;
        transition: 0.4s;
    }
}
