@import 'variables';

// mixins

// flexbox mixins

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

// default button mixins
@mixin default-button($padding) {
    padding: $padding;
    background-color: $mainColour;
    border: none;
    color: $mainTextColour;
    border: 2px solid $mainColour;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover{ 
        background-color: transparent;
        transition: 0.4s;
    }
}

// h1 style
@mixin h1-style($fontSize) {
    font-size: $fontSize;
    color: $mainTextColour;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
