@import 'variables';
@import 'mixins';

// styles

body, html {
    margin: 0;
    padding: 0;
}

body, html, .wrapper {
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #DCE35B;  
    background: -webkit-linear-gradient(to bottom, #45B649, #DCE35B);   
    background: linear-gradient(to bottom, #45B649, #DCE35B);
}

.home-container, .title, .setup-container, .setup-wrap, .select-difficulty, #playerSetup, .quiz-container, #question {
    @include flexbox();
    @include flex-direction(column);
    box-sizing: border-box;
}

// home

.home-container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.fa-globe {
    font-size: 15em;
    opacity: 0.8;
    position: absolute;
    top: -95px;
    z-index: -100;
    color: #4189DD;
}

.title {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.title {
    h1 {
        @include heading(5.3em);
    }
    p {
        margin: 0 0 30px 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        color: $secondaryColour;
        font-weight: $bold;
        font-size: 1.25em;
    }
    button {
        @include default-button(15px);
        width: 200px;
    }
}

// setup styles

.setup-wrap {
    margin: 50px auto 0 auto;
    h1 {
        @include heading(3em);
        align-self: center;
    }
    #playerSetup {
        align-items: center;
        p {
            font-weight: $bold;
            color: $secondaryColour;
            font-size: 1.2em;
            text-align: center;
        }
        .select-difficulty div {
            @include flexbox();
            justify-content: center;
        }
        a {
            margin: 20px 10px;
            font-size: 1.2em;
            padding: 5px;
            color: $secondaryColour;
            font-weight: $bold;
            &:hover {
                cursor: pointer;
            }
        }
        input[type='text'] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin: auto;
        }
        input[type='submit'] {
            @include default-button(10px);
            margin: auto;
            width: 189px;
        }   
    }
}

// quiz styles

.quiz-container {
    align-items: center;
    height: 100%;
    #question {
        margin: 50px 5% 0 5%;
        h2 {
            @include heading(2.7em);
            text-align: center;
            align-self: center; /*IE11*/
        }
        p {
            text-align: center;
            color: $secondaryColour;
            font-weight: $bold;
            font-size: 1.2em;
            margin: 10px 0 50px 0;
        }
        ul {
            margin: 0;
            padding: 0;
            @include flexbox();
            @include flex-direction(row);
            flex-wrap: wrap;
        }
        li {
            list-style: none;
            text-align: center;
            color: white;
            padding: 10px;
            flex-basis: 45%;
            font-weight: $bold;
            font-size: 1.4em;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
            background: $secondaryColour;
            margin: 5px;
            &:hover {
                cursor: pointer;
            }
        }
        button {
            @include default-button(15px);
            margin: 50px auto 0 auto;
        }
    }
}

.img-container {
    @include flexbox();
    justify-content: center;
    width: 165px;
    height: 135px;
    border: 5px solid #282b34;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    img {
        width: 100%;
        max-height: 100%;
    }
}


// general styles

.no-show {
    display: none;
}

.selected {
    font-weight: bold;
    opacity: 0.8;
    color: $selectedColour;
    border-color: $selectedColour;
}

.selected-diff {
    border: 2px solid $selectedColour;
    border-radius: 5px;
}

#loading {
    @include heading(3em);
}

// media queries

@media screen and (max-width: 535px) {
    .fa-globe {
        font-size: 13em;
        right: 5%;
    }
}

@media screen and (max-width: 425px) {
    .title {
        h1 {
            font-size: 3.7em;
        }
        p {
            font-size: 0.9em;
        }
        button {
            @include default-button(10px);
            width: 170px;
        }
    }
}