// variables

$maxHeight: 100%;
$mainColour: #448825;

// mixins

// flexbox mixins

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
       -moz-flex-direction: $direction;
        -ms-flex-direction: $direction;
            flex-direction: $direction;
}

// default button mixins
@mixin default-button() {
    padding: 15px;
    width: 70%;
    background-color: $mainColour;
    border: none;
    color: white;
    border: 2px solid $mainColour;
    border-radius: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    
    &:hover{
        background-color: transparent;
        transition: 0.4s;
    }
}

// styles

body, html {
    margin: 0;
    padding: 0;
}

body, html, .wrapper, .home-container {
    height: $maxHeight;
}

body {
    background: #56ab2f; 
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f); 
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

// home

.home-container, .title {
    @include flexbox();
    @include flex-direction(column);
    align-items: center;
}

.title {
    width: 100%;
    justify-content: center;
}

.title, .flag-container {
    flex: 0 0 50%;
}

.home-container {
    h1 {
        font-size: 4.8em;
        color: white;
        margin: 0 0 20px 0;
        span {
            padding: 0 2px;
        }
    }
    button {
        @include default-button();
        width: 200px;
    }
}

.flag-container {
    @include flexbox();
    width: 100%;
    .flags-left, .flags-right {
        @include flexbox();
        @include flex-direction(column);
        align-items: flex-start;
        justify-content: flex-end;
        flex-basis: 50%;
    }
    .flags-right {
       align-items: flex-end;
    }
    .img-container {
        width: 160px;
        height: 115px;
        border: 3px solid rgba(250, 250, 250, 0.7);
        display: inline-block;
        overflow: hidden;
    }
    .flag-block-1, .flag-block-2, .flag-block-3 {
        @include flexbox();
    }
    .img-container img {
        max-width: 100%;
        height: 100%;
        width: 100%;
        display: block;
        opacity: 0.75;
    }
}

// general styles

.no-show {
    display: none;
}

.selected {
    font-weight: bold;
    color: red;
}

img {
    opacity: 0.85;
    width: 200px;
}