@import 'variables';
@import 'mixins';

// styles

body, html {
    margin: 0;
    padding: 0;
}

body, html, .wrapper {
    height: $maxHeight;
    width: 100%;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: #DCE35B;  
    background: -webkit-linear-gradient(to bottom, #45B649, #DCE35B);   
    background: linear-gradient(to bottom, #45B649, #DCE35B);
}

.home-container, .title, .setup-container, .setup-wrap, .select-difficulty, #playerSetup {
    @include flexbox();
    @include flex-direction(column);
    box-sizing: border-box;
}

// home

.home-container {
    height: $maxHeight;
    justify-content: center;
    align-items: center;
}

.fa-globe {
    font-size: 15em;
    opacity: 0.8;
    position: absolute;
    top: -95px;
    z-index: -100;
    color: #4189DD;
}

.title {
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.title {
    h1 {
        @include h1-style(5.3em);
    }
    p {
        margin: 0 0 30px 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        color: $secondaryColour;
        font-weight: $bold;
        font-size: 1.25em;
    }
    button {
        @include default-button(15px);
        width: 200px;
    }
}

// setup styles

.setup-wrap {
    margin: 50px auto 0 auto;
    h1 {
        @include h1-style(3em);
    }
    #playerSetup {
        align-items: center;
        p {
            font-weight: $bold;
            color: $secondaryColour;
            font-size: 1.2em;
            text-align: center;
        }
        .select-difficulty div {
            @include flexbox();
            justify-content: center;
        }
        a {
            margin: 20px 10px;
            font-size: 1.2em;
            padding: 5px;
            color: $secondaryColour;
            font-weight: $bold;
            &:hover {
                cursor: pointer;
            }
        }
        input[type='text'] {
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin: auto;
        }
        input[type='submit'] {
            @include default-button(10px);
            margin: auto;
            width: 189px;
        }   
    }
}

// general styles

.no-show {
    display: none;
}

.selected {
    font-weight: bold;
    color: red;
}

.selected-diff {
    border: 2px solid rgba(185, 25, 25, 0.8);
    border-radius: 5px;
}

img {
    opacity: 0.85;
    width: 200px;
}

// media queries

@media screen and (max-width: 535px) {
    .fa-globe {
        font-size: 13em;
        right: 5%;
    }
}

@media screen and (max-width: 425px) {
    .title {
        h1 {
            font-size: 3.7em;
        }
        p {
            font-size: 0.9em;
        }
        button {
            @include default-button(10px);
            width: 170px;
        }
    }
}