// colours

$mainColour: #448825;
$secondaryColour: #30601b;
$mainTextColour: white;
$selectedColour: #cd0000;
$iconBlue: #4189DD;

// font styles

$bold: 600;

// font size

$large-iconFont: 15em;
$medium-iconFont: 13em;
$large-titleFont: 5.3em;
$medium-titleFont: 3.7em;
$largeFont: 3em;
$standardFont: 1.25em;
$smallFont: 0.9em;
$answerFont: 1.4em;