// colours

$mainColour: #448825;
$secondaryColour: #30601b;
$mainTextColour: white;
$incorrectColour: #cd0000;
$correctColour: #00b900;
$iconBlue: #4189dd;
$flagColour: #353a45;

// font styles

$bold: 600;

// font size

$large-iconFont: 15em;
$medium-iconFont: 13em;
$large-titleFont: 5.3em;
$medium-titleFont: 3.7em;
$large-quizFont: 2.7em;
$largeFont: 3em;
$mediumFont: 2em;
$standardFont: 1.2em;
$smallFont: 0.9em;
$answerFont: 1.4em;

// media queries

$extraLarge: 1024px;
$large: 615px;
$medium: 535px;
$small: 425px;