@import '../utils/variables';
@import '../utils/mixins';

.no-show {
    display: none;
}

// answer selected

.selected-correct {
    opacity: 0.65;
    border-color: $correctColour;
}

.selected-incorrect {
    opacity: 0.65;
    border-color: $incorrectColour;
}

// difficulty selected

.selected-diff {
    border: 2px solid $iconBlue !important;
    border-radius: 5px;
}

// timer warning

.warning {
    color: $incorrectColour;
}

// loading

#loading {
    @include heading($large-quizFont);
    margin-top: 25px;
    text-align: center;
    @include mediaQuery($small) {
        font-size: $mediumFont;
        margin-top: 0;
    }
}
